In [81]:
import os
import pandas as pd
import numpy as np

In [98]:
# Load in the dictionary dataset into a pandas df
data_path = os.path.join(os.getcwd(), 'data', 'dictionary.txt')
dic = pd.read_csv(data_path, sep='|', header=None)

# ...and do the same with the sentiment_labels data
data_path = os.path.join(os.getcwd(), 'data', 'sentiment_labels.txt')
cents = pd.read_csv(data_path, sep='|')

dic = dic.rename(columns={0: "feature", 1: "ID"}) # We rename the columns
dic = dic.sort_values(by="ID") # We change the order of the rows to be sorted by ID number
movie_data = dic[["ID", "feature"]] # We change the order of the columns and change the name of the the df

# We make an array of the sentiments (already in the right order) and add it to our df
y = np.array(cents.iloc[:, -1])
movie_data.insert(2, "sentiment", y)

In [99]:
movie_data

            ID                                   feature  sentiment
0            0                                         !    0.50000
65           1                                         '    0.50000
66           2                                       ' (    0.44444
70           3                         ' ( the cockettes    0.50000
71           4                       ' ( the cockettes )    0.42708
...        ...                                       ...        ...
239097  239227           your standard Hollywood bio-pic    0.36111
239127  239228  your typical ` fish out of water ' story    0.38889
239190  239229                                    zero .    0.33333
239212  239230                         zippy jazzy score    0.88889
57720   239231                                       UNK    0.50000

[239232 rows x 3 columns]